<app-wrapper title="Meqeq's news">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, eligendi? Voluptas officiis, cupiditate sunt sapiente et accusantium nobis facilis a sit reprehenderit quas iusto sequi quam amet, error dicta! Illum?</p>
    <div class="flex p-2 pt-4 justify-center">
        <a routerLink="/login" class="bg-green-400 w-24 p-2 m-2 text-center hover:bg-green-300">
            Zaloguj
        </a>
        
        <a routerLink="/register" class="bg-red-400 w-24 p-2 m-2 text-center hover:bg-red-300">
            Zarejestruj
        </a>
    </div>
</app-wrapper>

