:host {
    grid-area: nav;


    nav {
        width: 14em;
        position: relative;
        left: -14em;
        transition: 0.3s left ease-in-out;
        z-index: 10;
    
        &:hover {
            left: 0;
        }

        &.show {
            left: 0;
        }
    }
}

@keyframes fog {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

.fog {
    z-index: 5;
    opacity: 0;
    animation: fog 0.2s ease-in-out;
    animation-fill-mode: forwards;
}